---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Daftar from '../components/Daftar.astro';
import CallToAction from '../components/CallToAction.astro';
import TabelPengusaha from '../components/TabelPengusaha.astro';
---

<Layout title="Register Pangan Segar">
	<main class="space-y-40 mb-40 ">
		<HeroSection/>
		<Features/>
		<Stats/>
		<CallToAction/>
		<Daftar/>
		<TabelPengusaha/>
	</main>
</Layout>

