---
import Layout from "../layouts/Layout.astro"
---

<Layout title ='Panduan Pendaftaran OSS'>
  <main class="space-y-4 mb-40 prose dark:prose-invert pt-36 max-w-screen-2xl px-6 md:px-24">
      <h1>Panduan Pendaftaran Mandiri OSS</h1>
      <ol>
        <li>Daftarkan Akun oss anda ke <a href="https://ui-login.oss.go.id/register" target="_blank" rel="noopener noreferrer">https://ui-login.oss.go.id/register</a></li>
        <li>Pilih Skala Usaha berdasarkan Modal Usaha anda</li>
        <img src="/register-pangan-segar/panduan/daftar/1.png" alt="register skala usaha" class="">
        <li>Pilih Jenis Pelaku Usaha dan masukkan NIK serta nomor ponsel anda, atau anda juga bisa mengaktifkan akun oss melalui akun email anda, sistem oss akan menghubungi anda melalui NO Wa, (atau email jika menggunakan email)</li>
        <div class="flex ">
          <img src="/register-pangan-segar/panduan/daftar/3.png" alt="register nik" class="object-cover">
        </div>
        <li>masukkan kode OTP </li>
        <img src="/register-pangan-segar/panduan/daftar/5.png" alt="OTP" class="object-cover">
        <li>Masukkan kata sandi akun oss anda</li>
        <img src="/register-pangan-segar/panduan/daftar/6.png" alt="sandi" class="object-cover">
        <li>Isikan Profil Usaha anda sesuai yang tertera di sistem</li>
        <img src="/register-pangan-segar/panduan/daftar/8.png" alt="profil usaha" class="object-cover">
        <img src="/register-pangan-segar/panduan/daftar/9.png" alt="profil usaha" class="object-cover">
        <li>Anda sudah berhasil mendaftarkan akun OSS </li>
        <img src="/register-pangan-segar/panduan/daftar/10.png" alt="berhasil register" class="object-cover">
        <p>Untuk melihat video lebih jelas, bisa di lihat di chanel resmi oss di <a href="https://youtu.be/uecJ3In5Hvg?si=3sEcVt2bXgTX5OJi" target="_blank" rel="noopener noreferrer">Youtube</a></p>
      </ol>
      <p>Setelah anda memiliki akun oss (ditunjukkan dengan adanya tulisan nama anda di sebelah kanan atas website) anda bisa mendaftarkan NIB usaha anda di laman pendaftaran NIB</p>
      <h2>Prosedur Pendaftaran NIB</h2>
      <ol>
        <li>Masuk ke laman pendaftaran NIB, menggunakan akun yang sudah terdaftar  </li>
        <img src="/register-pangan-segar/panduan/perizinan/1.png" alt="login OSS" class="object-cover">
        <li>Pilih menu Permohonan Baru</li>
        <img src="/register-pangan-segar/panduan/perizinan/2.png" alt="permohonan baru" class="object-cover">
        <li>Sudah Tampil Profil Pengusaha seperti yang sudah diinput ketika pendaftaran diatas, jika anda memiliki NPWP, BPJS Ketenagakerjaan, maupun BPJS Kesehatan, silahkan isikan data dibawah</li>
        <img src="/register-pangan-segar/panduan/perizinan/3.png" alt="profil pengusaha" class="object-cover">
        <li>Tambah Bidang Usaha Anda dan isikan sesuai dengan Usaha anda masing-masing</li>
        <img src="/register-pangan-segar/panduan/perizinan/4.png" alt="bidang usaha" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/5.png" alt="bidang usaha" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/6.png" alt="bidang usaha" class="object-cover">
        <li>Berdasarkan Bidang Usaha yang sudah diinputkan, masukkan Data Usaha, isikan nama usaha, lokasi usaha, dan luas usaha anda</li>
        <img src="/register-pangan-segar/panduan/perizinan/7.png" alt="data usaha" class="object-cover">
        <li>Masukkan koordinat, dan alamat tempat Usaha anda dijalankan</li>
        <img src="/register-pangan-segar/panduan/perizinan/8.png" alt="koordinat" class="object-cover">
        <li>Masukkan detail alamat lengkap usaha anda</li>
        <img src="/register-pangan-segar/panduan/perizinan/9.png" alt="alamat" class="object-cover">
        <li>Masukkan kisaran modal awal dari Usaha anda</li>
        <img src="/register-pangan-segar/panduan/perizinan/10.png" alt="modal" class="object-cover">
        <li>Berdasarkan modal usaha anda, maka secara otomatis sistem akan mengklasifikasikan jenis tingkat resiko usaha anda</li>
        <img src="/register-pangan-segar/panduan/perizinan/11.png" alt="resiko" class="object-cover">
        <li>Masukkan Produk yang di jual di Usaha anda</li>
        <img src="/register-pangan-segar/panduan/perizinan/12.png" alt="produk" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/13.png" alt="produk" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/14.png" alt="produk" class="object-cover">
        <li>Jika sudah selesai memasukkan semua produk anda, anda bisa lanjut ke proses berikutnya</li>
        <img src="/register-pangan-segar/panduan/perizinan/15.png" alt="lanjut" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/16.png" alt="lanjut" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/17.png" alt="lanjut" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/18.png" alt="lanjut" class="object-cover">
        <li>Klik Tombol Proses Perizinan Berusaha</li>
        <img src="/register-pangan-segar/panduan/perizinan/19.png" alt="proses" class="object-cover">
        <li>Baca dengan cermat terkait aturan-aturan yang berlaku</li>
        <img src="/register-pangan-segar/panduan/perizinan/20.png" alt="aturan" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/21.png" alt="aturan" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/22.png" alt="aturan" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/23.png" alt="aturan" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/24.png" alt="aturan" class="object-cover">
        <li>Setelah menunggu beberapa saat (5 menit) sistem akan menerbitkan NIB anda</li>
        <img src="/register-pangan-segar/panduan/perizinan/25.png" alt="nib" class="object-cover">
        <img src="/register-pangan-segar/panduan/perizinan/26.png" alt="nib" class="object-cover">
        <li>Anda sudah berhasil mendaftarkan NIB Usaha anda, anda bisa mengecek NIB di <a href="https://www.badanperizinan.co.id/nib.html" target="_blank" rel="noopener noreferrer">badanperizinan.co.id</a></li>
        <img src="/register-pangan-segar/panduan/perizinan/27.png" alt="badan perizinan" class="object-cover">
</ol>
      </main>
  </Layout>
