---
import Container from "../components/Container.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title ='Panduan Pendaftaran OSS'>
  <main class="space-y-4 mb-40 prose dark:prose-invert pt-36 max-w-screen-2xl px-6">
      <h1>Panduan Pendaftaran Mandiri OSS</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores libero ipsum quasi deleniti tempora accusamus eius voluptas est nulla enim atque ratione animi provident, pariatur perspiciatis vitae necessitatibus reprehenderit aliquid!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quos dolore cum dolorum voluptas modi incidunt quam officiis rem nulla. Deleniti blanditiis a ea voluptas, voluptates vero expedita sunt molestias!</p>
  </main>
  </Layout>
