---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/register-pangan-segar/favicon2.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Register Pangan Segar - Panduan Pendaftaran Izin Usaha di Pekalongan</title>
        
        <meta name="description" content="Daftar dan dapatkan izin usaha Anda dengan mudah di Pekalongan melalui Register Pangan Segar. Dapatkan panduan lengkap dan dukungan dari dinperpa Pekalongan untuk mendaftarkan usaha Anda di OSS.">
        <meta name="keywords" content="izin usaha, pendaftaran usaha, OSS, Pekalongan, dinperpa, Register Pangan Segar, cara mendaftar izin usaha, manfaat izin usaha">
        <meta name="robots" content="index, follow">
        <meta name="author" content="dinperpa Pekalongan">
    
        <!-- Open Graph -->
        <meta property="og:title" content="Register Pangan Segar - Panduan Pendaftaran Izin Usaha di Pekalongan">
        <meta property="og:description" content="Daftar dan dapatkan izin usaha Anda dengan mudah di Pekalongan melalui Register Pangan Segar. Dapatkan panduan lengkap dan dukungan dari dinperpa Pekalongan untuk mendaftarkan usaha Anda di OSS.">
        <meta property="og:image" content="/register-pangan-segar/thumbnail.png">
        <meta property="og:url" content="https://riqqiamru.github.io/register-pangan-segar">
        <meta property="og:type" content="website">
    
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Register Pangan Segar - Panduan Pendaftaran Izin Usaha di Pekalongan">
        <meta name="twitter:description" content="Daftar dan dapatkan izin usaha Anda dengan mudah di Pekalongan melalui Register Pangan Segar. Dapatkan panduan lengkap dan dukungan dari dinperpa Pekalongan untuk mendaftarkan usaha Anda di OSS.">
        <meta name="twitter:image" content="/register-pangan-segar/thumbnail.png">
        <meta name="twitter:site" content="@yourtwitterhandle">



    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
        <div class="flex justify-center">
            <a href='https://www.free-counters.org/'>www.free-counters.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=f5353b945a4269724191c120f1352d3086324ecb'></script>
            <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1184362/t/1"></script>
        </div>
    </body>
</html>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
